.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Adds space between the form and the table */
}

.form {
  display: flex;
  padding: 20px;
  gap: 1rem;
}

.header-row {
  display: flex;
  justify-content: space-between;
}
.body-header-row {
  display: flex;
  justify-content: space-between;
}

.header-row th {
  flex: 0;
}
.table-wrapper {
  width: 100%;
  border-radius: 1;
  border: 2px solid #ddd;
  border-spacing: 0;
}
.table-body {
  padding: 20px;
}
